@import '../../styles/variables.scss';

.input{
    -Webkit-text-security: disc;
    background-color: $white;
    border-color: $text;
    width: 70%;
    height: 3.5vh;
}

.labelText{
    font-size: 140%;
    font-family: sans-serif;
    font-weight: bolder;
    color: $text;
}