@import '../../styles/variables.scss';


.box{
    background-color: $primary-color;
    box-shadow:  10px 10px 20px 20px #e2e0e0;
    width: 30vw;
    position: 'absolute';
    flex: 100%;
    height:60vh; 
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    display: flex!important;
    margin: auto;
    margin-top: 7%;
}

.form{
    flex: 100%;
    height:60vh; 
    align-content: center;
}

.innerBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 15%;
}