.container{
    // background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../public/dumbbell.webp"), no-repeat;
    background: url("../public/home.webp");
    background-size: cover;
    z-index: -1;
}