@import '../styles/variables.scss';
.heading2Xl {
    margin: auto;
    text-align: center;
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    color: $primary-color;
    font-family: 'Product-Sans';
    font-style: italic;
  }
  
  .headingXl {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: $text;
  }
  
  .headingLg {
    font-size: 4rem;
    line-height: 1.4;
    margin-left: 20%;
    color: $primary-color;
    font-weight: bold;
    margin-top: 1%;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .text{
    text-align: center;
  }
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .button{
    margin-top: 10%;
    width: 30%;
    height: 5vh;
    align-self: center;
    display: flex;
    margin-left: 35%;
    text-align: center;
  }

  .text{
    margin: auto;
    font-size: 140%;
    color: $primary-color;
    font-weight: bolder;
  }

  .graph{
    width: fit-content;
    height: fit-content;
  }